<div class="container text-center m-5">
    <div class="row">
        
        <div class="col">
            <h1>Error: 404</h1>
            <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/91653038-d924-4c2f-9f7b-6194e07cd782/dfpij4m-4675f818-f230-46de-bf59-e2626311f47a.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzkxNjUzMDM4LWQ5MjQtNGMyZi05ZjdiLTYxOTRlMDdjZDc4MlwvZGZwaWo0bS00Njc1ZjgxOC1mMjMwLTQ2ZGUtYmY1OS1lMjYyNjMxMWY0N2EuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.Yij6pCzMeSZLofPjJndIQlxPXqb7YIcl7aHxjQhkO0Q"
                alt="">
                <h5>Page Not Found</h5>
                <h6>Unfortunately the page you are looking for has been moved or deleted</h6>
                <button type="button" class="btn btn-primary">Go to Home page</button>
        </div>
        
    </div>
</div>