<nav class="navbar navbar-expand-lg navbar-light bg-primary sticky-top">
    <div class="container px-4 px-lg-5 ">
        <a class="navbar-brand text-white" routerLink="/"><i class="fa-solid fa-shirt"></i>&nbsp;The PUB Store</a>
        <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon "></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <input type="text" class="form-control  rounded" (keyup)="search($event)" placeholder="Search" aria-label="Search"
                aria-describedby="basic-addon2" />

            <form class="d-flex">

                <a class="nav-link text-white" routerLink="products/wishlist">
                    <i class="fa-solid fa-heart"></i>
                </a>

                <a class="nav-link text-white" routerLink="products/cart">
                    <i class="fa-solid fa-cart-shopping">&nbsp;{{cartcount}}</i>
                </a>

            </form>
        </div>
    </div>
</nav>
